<div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:#e9ebee;">

  <ng-template #terms let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Termini e condizioni</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body terms-body">
      <div>
        <h2>Termini e condizioni</h2>
        <p>Stimathy srl, con sede legale in Largo Adua, 1 24128 Bergamo, partita IVA 04293680163, indirizzo PEC sthimathysrl@legalmail.it,
          (di seguito il "Titolare" ) rende disponibile a tutti gli Utenti la possibilità di accedere e utilizzare il sito
          web www.ubiobe.it (di seguito "Applicazione") di sua esclusiva titolarità, che offre un servizio di social network
          (di seguito "Prodotti" o singolarmente "Prodotto").</p>
        <p>Si prega di leggere attentamente i presenti termini e condizioni (di seguito le "Condizioni") prima di utilizzare
          l'Applicazione. Utilizzando l'Applicazione, l'Utente accetta le Condizioni e si impegna a rispettarle. In caso
          contrario, l'Utente non può utilizzare l'Applicazione. </p>
        <p>Il Titolare potrà modificare o semplicemente aggiornare, in tutto o in parte, le Condizioni. Le modifiche e gli
          aggiornamenti saranno vincolanti non appena pubblicati sull'Applicazione. </p>
        <h4>1. Registrazione</h4>
        <p>Per poter utilizzare alcune funzionalità dell'Applicazione, gli Utenti devono registrarsi fornendo in maniera
          veritiera e completa tutti i dati richiesti nel relativo form di registrazione, e devono altresì accettare integralmente
          la privacy policy (https://www.ubiobe.it/privacy) e le presenti Condizioni. L'Utente ha l'onere di custodire le
          proprie credenziali di accesso. Resta inteso che in nessun caso il Titolare potrà essere ritenuto responsabile
          in caso di smarrimento, diffusione, furto o utilizzo non consentito da parte di terzi, a qualsivoglia titolo, delle
          credenziali di accesso degli Utenti.</p>
        <hr>
        <h4>2. Cancellazione account e chiusura</h4>
        <p>Gli Utenti registrati possono interrompere l'utilizzo dei Prodotti in ogni momento, disattivare i propri account
          o richiederne la cancellazione attraverso l'interfaccia dell'Applicazioneo contattando direttamente il Titolare
          all'indirizzo e-mail info@ubiobe.it. Il Titolare, in caso di violazione da parte dell'Utente delle presenti Condizioni
          o delle disposizioni di legge applicabili, si riserva il diritto di sospendere o chiudere l'account dell'Utente
          in ogni momento e senza preavviso.</p>
        <hr>
        <h4>3. Contenuti inviati dagli Utenti</h4>
        <p>L'Utente può caricare sull'Applicazione materiale, contenuti o informazioni (di seguito i "Contenuti" o singolarmente
          il "Contenuto"), purché il Contenuto non sia illecito (ovvero osceno, intimidatorio, diffamatorio, pornografico,
          abusivo, o a qualsiasi titolo illegale, o violi la privacy, i diritti di proprietà intellettuale e/o industriale
          del Titolare e/o di terzi) o non sia in altro modo lesivo nei confronti del Titolare e/o terzi o deplorevole e
          non contenga virus, propaganda politica, sollecitazione commerciale, e-mail di massa o qualunque altra forma di
          spamming. </p>
        <p> Il Titolare, pur non essendo in grado di assicurare un controllo puntuale sui Contenuti ricevuti, si riserva
          il diritto di cancellare, spostare, modificare quelli che, a sua discrezionale giudizio, appaiono illeciti, abusivi,
          diffamatori, osceni o lesivi del diritto d'autore e dei marchi o in ogni caso inaccettabili. </p>
        <p> È vietato utilizzare un indirizzo di posta elettronica che non sia di titolarità dell'Utente, utilizzare i dati
          personali e le credenziali di altro Utente al fine di appropriarsi della sua identità, o in altro modo dichiarare
          il falso sull'origine dei Contenuti. </p>
        <p>L'Utente si impegna a non utilizzare termini violenti o discriminatori sulla base di razza, religione, genere,
          inclinazioni sessuali, disabilità fisiche o mentali e altro. L'uso di linguaggio violento sarà motivo per la sospensione
          immediata e per l'espulsione dall'Applicazione. </p>
        <p>Senza l'espressa autorizzazione del Titolare, l'Utente deve astenersi dal diffondere o distribuire con ogni mezzo
          Contenuti che contengano offerte a contenuto commerciale di qualsiasi natura. </p>
        <p> L'Utente prende atto e accetta che i Contenuti inviati per interagire con l'Applicazione (a titolo esemplificativo
          e non esaustivo, per inviare commenti, esprimere opinioni, partecipare a sondaggi ed iniziative, inviare immagini
          o file video e audio) possono essere modificati, rimossi o pubblicati dal Titolare. L'Utente concede al Titolare
          un diritto illimitato di uso non esclusivo sui Contenuti inviati dall'Utente, senza limitazioni di aree geografiche.
          Il Titolare potrà pertanto, direttamente o tramite terzi di sua fiducia, utilizzare, modificare, copiare, trasmettere,
          estrarre, pubblicare, distribuire, eseguire pubblicamente, diffondere, creare opere derivate, ospitare, indicizzare,
          memorizzare, annotare, codificare, modificare ed adattare (includendo senza limitazioni il diritto di adattare
          per la trasmissione con qualsiasi modalità di comunicazione) in qualsiasi forma o con qualsiasi strumento attualmente
          conosciuto o che verrà in futuro inventato, ogni Contenuto (inclusi immagini, messaggi, anche audio e video), che
          dovesse essere inviato dall'Utente, anche per il tramite di terzi. </p>
        <p> In relazione ai Contenuti inviati, l'Utente rinuncia pertanto a ogni diritto materiale e morale che possa vantare
          come autore anche rispetto alle modifiche apportate dal Titolare a tali Contenuti e nel caso in cui le modifiche
          non siano gradite o accettate dall'autore stesso. </p>
        <p> I Contenuti inviati non verranno restituiti e resteranno di proprietà del Titolare che rimane dunque esentato
          da ogni responsabilità nei confronti degli Utenti per la perdita, modifica o distruzione del Contenuto trasmesso.
        </p>
        <p> L'Utente garantisce altresì che i contenuti sono inviati all'Applicazione tramite il suo account da maggiori
          di età. Per i minorenni, l'invio di Contenuti dovrà essere vagliato e autorizzato dagli esercenti la potestà di
          genitore. </p>
        <hr>
        <h4>4. Esclusione della Garanzia</h4>
        <p> L'Applicazione viene fornita "così come è" e "come è disponibile" e il Titolare non fornisce alcuna garanzia
          esplicita o implicita in relazione all'Applicazione, né fornisce alcuna garanzia che l'Applicazione potrà soddisfare
          le esigenze degli Utenti o che non avrà interruzioni o sarà priva di errori o che sarà priva di virus o bug. </p>
        <p> Il Titolare si adopererà per assicurare che l'Applicazione sia disponibile ininterrottamente, ma non potrà in
          alcun modo essere ritenuto responsabile se, per qualsiasi motivo, l'Applicazione non fosse accessibile e/o operativa
          in qualsiasi momento o per qualsiasi periodo. </p>
        <p>L'accesso all'Applicazione può essere sospeso temporaneamente e senza preavviso in caso di guasto del sistema,
          manutenzione, riparazioni o per ragioni estranee alla volontà del Titolare o per eventi di forza maggiore. </p>
        <hr>
        <h4> 5. Limitazione della Responsabilità </h4>
        <p> L'Utente si impegna a mantenere indenne e a manlevare il Titolare (nonché le eventuali società dallo stesso controllate
          o affiliate, i suoi rappresentanti, collaboratori, consulenti, amministratori, agenti, licenziatari, partner e
          dipendenti), da qualsiasi obbligo o responsabilità, incluse le eventuali spese legali sostenute per difendersi
          in giudizio, che dovessero sorgere a fronte di danni provocati ad altri Utenti o a terzi, in relazione ai Contenuti
          caricati, alla violazione dei termini di legge o dei termini delle presenti Condizioni. </p>
        Pertanto, il Titolare non sarà responsabile per: 1. eventuali perdite che non siano conseguenza diretta della violazione
        del Contratto da parte del Titolare; 2. ogni perdita di opportunità commerciale e qualsiasi altra perdita, anche
        indiretta, eventualmente subita dall'Utente (quali, a titolo esemplificativo e non esaustivo, perdite commerciali,
        perdita di ricavi, introiti, profitti o risparmi presunti, perdita di contratti o di relazioni commerciali, perdita
        della reputazione o del valore di avviamento, etc.); 3. danni o perdite derivanti da interruzioni o malfunzionamenti
        dell'Applicazione dovuti ad eventi di forza maggiore o, comunque, ad eventi imprevisti ed imprevedibili e, comunque,
        indipendenti dalla volontà ed estranei alla sfera di controllo del Titolare quali, a titolo esemplificativo e non
        esaustivo, guasti o interruzioni alle linee telefoniche o elettriche, alla rete internet e/o comunque ad altri strumenti
        di trasmissione, indisponibilità di siti web, scioperi, eventi naturali, virus ed attacchi informatici, interruzioni
        nell'erogazione di prodotti, servizi o applicazioni di terze parti; 4. errato o inidoneo utilizzo dell'Applicazione
        da parte degli Utenti o di terzi; 5. emissione di documenti fiscali errati a causa di errori relativi ai dati forniti
        dall'Utente, essendo quest'ultimo l'unico responsabile del corretto inserimento.
        <hr>
        <h4> 6. Collegamento a siti di terzi </h4>
        <p> L'Applicazione potrebbe contenere collegamenti a siti di terzi. Il Titolare non esercita alcun controllo su di
          essi e, pertanto, non è in alcun modo responsabile per i contenuti di questi siti. Alcuni di questi collegamenti
          potrebbero rinviare a siti di terzi che forniscono servizi attraverso l'Applicazione. In questi casi, ai singoli
          servizi si applicheranno le condizioni generali per l'uso del sito e per la fruizione del servizio predisposte
          dai terzi, rispetto alle quali il Titolare non assume alcuna responsabilità. </p>
        <hr>
        <h4> 7. Forza maggiore </h4>
        <p> Il Titolare non potrà essere considerato responsabile per il mancato o ritardato adempimento delle proprie obbligazioni
          qui previste, per circostanze al di fuori del controllo ragionevole e prevedibile del Titolare. L'adempimento delle
          obbligazioni da parte del Titolare ai sensi delle presenti Condizioni si intenderà sospeso per il periodo in cui
          si verificano gli Eventi di Forza Maggiore. </p>
        <hr>
        <h4> 8. Rinuncia </h4>
        <p> Nessuna rinuncia da parte di ciascuna parte ad un articolo delle presenti Condizioni sarà efficace a meno che
          non sia espressamente dichiarato e comunicato per iscritto. </p>
        <hr>
        <h4> 9. Invalidità di singole clausole </h4>
        <p> Qualora una qualsiasi disposizione delle presenti Condizioni risultasse illegale o non valida, essa non verrà
          considerata come parte delle Condizioni Generali e questo non influirà sulle disposizioni rimanenti che continueranno
          ad essere valide nella misura consentita dalla legge. </p>
        <hr>
        <h4> 10. Modifica </h4>
        <p> Il Titolare si riserva la facoltà di modificare, in qualsiasi momento, le presenti Condizioni dandone specifico
          avviso sull'Applicazione. L'Utente prende atto e accetta che eventuali modifiche alle presenti Condizioni si applicheranno
          a partire dalla data di comunicazione di modifica delle Condizioni. </p>
        <hr>
        <h4> 11. Privacy </h4>
        <p> La tutela e il trattamento dei dati personali avverrà in conformità all'Informativa Privacy, che può essere consultata
          alla pagina https://www.ubiobe.it/privacy </p>
        <hr>
        <h4> 12. Legge applicabile e foro competente </h4>
        <p> Le presenti Condizioni e tutte le controversie in merito ad esecuzione, interpretazione e validità del presente
          contratto sono soggette alla legge italiana e alla competenza esclusiva del tribunale del luogo in cui ha sede
          il Titolare. </p>
      </div>
    </div>
    <div class="modal-footer">
      <!-- <button type="submit" class="btn btn-secondary">Crea</button> -->
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Okay</button>
    </div>
  </ng-template>
  
  <ng-template #privacy let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Privacy policy</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body terms-body">
        <div>
            La presente Informativa sulla Privacy ha l'intento di descrivere le modalità di gestione del sito web www.ubiobe.it (di seguito "Applicazione") in merito al trattamento dei dati personali degli utenti che fruiscono dei servizi proposti.
            Il Titolare del trattamento, come successivamente identificato, potrà modificare o aggiornare, in tutto o in parte, la presente Informativa dandone informazione agli Utenti. Le modifiche e gli aggiornamenti saranno vincolanti non appena pubblicati sull'Applicazione. 
            In caso di mancata accettazione delle modifiche apportate alla presente Informativa Privacy, l'Utente è tenuto a cessare l'utilizzo di questa Applicazione e può richiedere al Titolare del Trattamento di rimuovere i propri Dati Personali.
            1. Dati Personali raccolti dall'Applicazione
            Il Titolare raccoglie le seguenti tipologie di Dati Personali:
            A. Contenuti e informazioni forniti volontariamente dall'Utente
            Dati di contatto, credenziali, contenuti: per esempio dati anagrafici, indirizzo di posta elettronica o postale e altri dati di contatto, password e informazioni di sicurezza utilizzati per l'autenticazione e l'accesso all'account, interessi e preferenze personali e altri contenuti personali, etc.
            Dati personali raccolti dai Social Media: gli Utenti possono condividere con l'Applicazione dati comunicati ai social media. L'Utente ha facoltà di controllare i Dati Personali a cui l'Applicazione può accedere nel momento in cui consente l'accesso ai suoi account social media e tramite le impostazioni sulla privacy disponibili nei social media in questione. Associando account gestiti da social media con l'Applicazione e autorizzando il Titolare ad accedere a tali Dati, l'Utente presta consenso all'acquisizione, al trattamento e alla conservazione dei Dati forniti da detti social media in conformità alla presente Informativa Privacy.
            Il mancato conferimento da parte dell'Utente di alcuni Dati potrebbe impedire all’Applicazione di erogare i propri servizi.
            L'Utente si assume la responsabilità dei Dati Personali di terzi pubblicati o condivisi mediante l’ Applicazione e garantisce di avere il diritto di comunicarli o diffonderli, liberando il Titolare da qualsiasi responsabilità verso terzi.
            Se l'elaborazione dei Dati Personali si basa sul consenso dell'Utente, lo stesso può revocarlo in qualsiasi momento.
            B. Dati e contenuti acquisiti automaticamente durante l'utilizzo dell'Applicazione
            Dati tecnici: i sistemi informatici e le procedure software preposte al funzionamento dell’Applicazione possono acquisire, nel corso del loro normale esercizio, alcuni Dati Personali la cui trasmissione è implicita nell'uso dei protocolli di comunicazione internet. Si tratta di informazioni che non sono raccolte per essere associate a soggetti interessati identificati, ma che per la loro stessa natura, potrebbero, attraverso elaborazioni ed associazioni con Dati detenuti da terzi, permettere di identificare gli utenti. In questa categoria rientrano gli indirizzi IP, o i nomi di dominio utilizzati dagli Utenti che si connettono all'Applicazione, gli indirizzi in notazione URI (Uniform Resource Identifier) delle risorse richieste, l'orario della richiesta, il metodo utilizzato nel sottoporre la richiesta al server, la dimensione del file ottenuto, etc.
            Dati di utilizzo: possono essere raccolti anche Dati relativi all'utilizzo dell'Applicazione da parte dell'Utente, quali ad esempio le pagine visitate, le azioni compiute, le funzionalità e i servizi utilizzati.
            Dati di geolocalizzazione: l'Applicazione può raccogliere Dati sulla posizione, che possono essere precisi o imprecisi. I Dati precisi sulla posizione possono essere Dati GNSS (Global Navigation Satellite System, ad esempio quelli GPS), oltre ai Dati che identificano il ripetitore più vicino, gli hotspot Wi-Fi e bluetooth, comunicati quando si abilitano i prodotti o le funzionalità basati sulla posizione.
            C. Dati personali raccolti tramite cookie o tecnologie simili
            L’ Applicazione usa cookie, web beacon, identificatori univoci e altre analoghe tecnologie per raccogliere Dati sulle pagine, sui collegamenti visitati e sulle altre azioni che esegui quando utilizzi i nostri Servizi, all'interno dei contenuti pubblicitari o di email. Essi vengono memorizzati per essere poi ritrasmessi agli stessi siti alla successiva visita del medesimo Utente.
            2. Finalità
            Salvo che la comunicazione dei dati personali sia imposta da obblighi di legge o sia strettamente pertinente e necessaria per l'adempimento delle richieste o degli obblighi contrattuali per l'esecuzione del servizio, i dati personali sono forniti volontariamente e facoltativamente dagli Utenti al momento dell'attivazione del servizio, per le seguenti finalità:
            •	Registrazione ed autenticazione dell'Utente comunicando i Dati a Facebook, https://www.facebook.com/privacy/explanation
            •	Supporto e contatto con l'Utente
            •	Commento e feedback
            •	Personalizzazione dell'esperienza d'uso dell'Utente
            •	Accesso agli account su servizi terzi comunicando i Dati  a Facebook, https://www.facebook.com/privacy/explanation
            •	Archiviazione, hosting e gestione infrastruttura backend
            •	Gestione dei database di utenti
            •	Statistica solo con Dati anonimi comunicando i Dati a Google, https://policies.google.com/privacy?hl=it&gl=it
            •	Accesso agli account su servizi terzi
            •	Gestione dei database di utenti
            •	Monitoraggio, analisi e tracciamento del comportamento dell'Utente
            •	Monitoraggio tecnico dell'infrastruttura per manutenzione, risoluzione dei problemi e miglioramento prestazioni
            •	Profilazione di caratteristiche, comportamenti, scelte dell'utente per fornire servizi o promozioni personalizzati
            •	Invio di email o newsletter e gestione mailing list
            •	Progettazione e/o realizzazione di campagne di comunicazione commerciale
            •	Comunicazione per proprie ricerche di mercato e sondaggi
            
            3. Modalità di trattamento
            Il trattamento dei Dati Personali viene effettuato mediante strumenti informatici e/o telematici, con modalità organizzative e con logiche strettamente correlate alle finalità indicate.
            Oltre al Titolare, in alcuni casi, potrebbero avere accesso ai Dati altri soggetti coinvolti nell'organizzazione dell’Applicazione che forniscono assistenza nella gestione dell'Applicazione e dell'attività o che assicurano prestazioni di servizi all'Utente. Detti soggetti nominati, se necessario, Responsabili del Trattamento da parte del Titolare, potranno accedere ai Dati Personali degli Utenti ogni qualvolta ciò si renda necessario e saranno contrattualmente obbligati a mantenerli riservati.
            4. Base giuridica del trattamento
            Il Titolare tratta Dati Personali relativi all'Utente in caso sussista una delle seguenti condizioni:
            •	il trattamento è necessario all'esecuzione di un contratto con l'Utente e/o all'esecuzione di misure precontrattuali;
            •	il trattamento è necessario per adempiere un obbligo legale al quale è soggetto il Titolare;
            •	il trattamento è necessario per l'esecuzione di un compito di interesse pubblico o per l'esercizio di pubblici poteri di cui è investito il Titolare;
            •	il trattamento è necessario per il perseguimento del legittimo interesse del Titolare o di terzi.
            
            È comunque sempre possibile richiedere al Titolare di chiarire la concreta base giuridica di ciascun trattamento.
            5. Luogo
            I Dati sono trattati presso le sedi operative del Titolare ed in ogni altro luogo in cui le parti coinvolte nel trattamento siano localizzate. Per ulteriori informazioni, è possibile contattare il Titolare al seguente indirizzo email: info@ubiobe.it
            6. Misure di sicurezza
            Il Trattamento viene effettuato secondo modalità e con strumenti idonei a garantire la sicurezza e la riservatezza dei Dati stessi, avendo il Titolare adottato misure tecniche e organizzative adeguate che garantiscono, e consentono di dimostrare, che il Trattamento è effettuato in conformità alla normativa di riferimento.
            7. Periodi di conservazione dei dati
            Il Titolare tratterà i Dati Personali per il tempo necessario ad adempiere alle finalità collegate con l'esecuzione di un contratto tra il Titolare e l'Utente.
            Quando il trattamento dei Dati Personali è necessario per il perseguimento di un interesse legittimo del Titolare, i Dati Personali saranno conservati sino alla soddisfazione di tale interesse. Qualora il trattamento dei Dati Personali sia basato sul consenso dell'Utente, il Titolare può conservare i Dati Personali sino alla revoca.
            I Dati Personali possono essere conservati per un periodo più lungo se necessario per adempiere un obbligo di legge o per ordine di un'autorità.
            Tutti i Dati Personali saranno cancellati alla scadenza del periodo di conservazione. Allo spirare di tale termine il diritto di accesso, cancellazione, rettificazione ed il diritto alla portabilità dei Dati non potranno più essere esercitati.
            8. Diritti dell'Utente
            Gli Utenti possono esercitare determinati diritti con riferimento ai Dati trattati dal Titolare. In particolare, l'Utente ha il diritto di:
            •	revocare il consenso in ogni momento;
            •	opporsi al trattamento dei propri Dati;
            •	accedere ai propri Dati;
            •	verificare e chiedere la rettificazione;
            •	ottenere la limitazione del trattamento;
            •	ottenere la cancellazione o rimozione dei propri Dati Personali;
            •	ricevere i propri Dati o farli trasferire ad altro titolare;
            •	proporre reclamo all'autorità di controllo della protezione dei dati personali e/o agire in sede giudiziale.
            
            Per esercitare i propri diritti, gli Utenti possono indirizzare una richiesta agli estremi di contatto del Titolare indicati in questo documento. Le richieste sono effettuate a titolo gratuito ed evase dal Titolare nel più breve tempo possibile.
            10. Titolare del trattamento
            Il Titolare del Trattamento è Stimathy Srl, con sede legale in Largo Adua, 1 24128 Bergamo, partita IVA 04293680163, indirizzo PEC sthimathysrl@legalmail.it.
            
            COOKIE POLICY E DATI DI NAVIGAZIONE
            Ai sensi dell'art. 13 del D.Lgs. n. 196/03 (Codice in materia di protezione dei dati personali) la presente informativa spiega cosa sono i cookie e illustra le varie tipologie di cookie presenti nel sito internet www.ubiobe.it (di seguito, anche il Sito).
            TITOLARE DEL TRATTAMENTO:
            Il Titolare del Trattamento è Stimathy Srl, con sede legale in Largo Adua, 1 24128 Bergamo, partita IVA 04293680163, indirizzo PEC sthimathysrl@legalmail.it.
            COSA SONO I COOKIE
            I cookie sono piccoli file di testo che vengono installati nel programma di navigazione del computer, del telefono cellulare o di altro dispositivo dell'utente da parte dei siti web visitati. I cookie sono utilizzati per le principali funzionalità dei siti web o per migliorare l'esperienza dell'utente, oltre che per fornire alcune informazioni ai proprietari dei siti medesimi. 
            Cookie Tecnici
            Questa tipologia di cookie è strettamente necessaria al corretto funzionamento di alcune sezioni del Sito. Sono di due categorie: persistenti e di sessione. Persistenti: una volta chiuso il browser non vengono distrutti ma rimangono fino ad una data di scadenza preimpostata. Di sessione: vengono distrutti ogni volta che il browser viene chiuso.
            Questi cookie, inviati sempre dal nostro dominio, sono necessari a visualizzare correttamente il sito e in relazione ai servizi tecnici offerti, verranno quindi sempre utilizzati e inviati, a meno che l'utenza non modifichi le impostazioni nel proprio browser (inficiando così la visualizzazione delle pagine del sito).
            Cookie analitici
            I cookie in questa categoria vengono utilizzati per collezionare informazioni sull'uso del sito. Il Sito  userà queste informazioni in merito ad analisi statistiche anonime al fine di migliorare l'utilizzo del Sito e per rendere i contenuti più interessanti e attinenti ai desideri dell'utenza. Questa tipologia di cookie raccoglie dati in forma anonima sull'attività dell'utenza e su come è arrivata sul Sito. I cookie analitici sono inviati dal Sito stesso o da domini di terze parti.
            Cookie di analisi di servizi di terze parti
            Questi cookie sono utilizzati al fine di raccogliere informazioni sull'uso del Sito da parte degli utenti in forma anonima quali: pagine visitate, tempo di permanenza, origini del traffico di provenienza, provenienza geografica, età, genere e interessi ai fini di campagne di marketing. Questi cookie sono inviati da domini di terze parti esterni al Sito, nel nostro caso da Google Analytics.
            Cookie per integrare prodotti e funzioni di software di terze parti
            Questa tipologia di cookie integra funzionalità sviluppate da terzi all'interno delle pagine del Sito come le icone e le preferenze espresse nei social network al fine di condivisione dei contenuti del sito o per l'uso di servizi software di terze parti (come i software per generare le mappe e ulteriori software che offrono servizi aggiuntivi). Questi cookie sono inviati da domini di terze parti e da siti partner che offrono le loro funzionalità tra le pagine del Sito.
            
            
            Cookie di profilazione
            Sono quei cookie necessari a creare profili utenti al fine di inviare messaggi pubblicitari in linea con le preferenze manifestate dall'utente all'interno delle pagine del Sito.
            Ubiobe.it, secondo la normativa vigente, non è tenuto a chiedere consenso per i cookie tecnici, in quanto necessari a fornire i servizi richiesti.
            Per tutte le altre tipologie di cookie il consenso può essere espresso dall'Utente con una o più di una delle seguenti modalità:
            •	Mediante specifiche configurazioni del browser utilizzato o dei relativi programmi informatici utilizzati per navigare le pagine che compongono il Sito.
            •	Mediante modifica delle impostazioni nell'uso dei servizi di terze parti
            
            Entrambe queste soluzioni potrebbero impedire all'utente di utilizzare o visualizzare parti del Sito.
            Il Sito potrebbe contenere collegamenti ad altri siti Web che dispongono di una propria informativa sulla privacy che può essere diverse da quella adottata da Ubiobe.it e che quindi non risponde di questi siti.
            REGISTRAZIONE ED AUTENTICAZIONE
            Con la registrazione o l'autenticazione l'Utente consente all'applicazione di identificarlo e di dargli accesso a servizi dedicati.  A seconda di quanto indicato di seguito, i servizi di registrazione e di autenticazione potrebbero essere forniti con l'ausilio di terze parti. Qualora questo avvenga, questo spazio online potrà accedere ad alcuni Dati conservati dal servizio terzo usato per la registrazione o l'identificazione. 
            I COOKIE UTILIZZATI SUL SITO
            Il Sito utilizza i seguenti cookie tecnici di prima parte, che vengono installati automaticamente a seguito dell'accesso al Sito, per il tempo e le finalità indicate in relazione a ciascuno di essi:
            Pulsante Accedi / Registrati con Facebook e widget sociali di Facebook (Facebook, Inc.)
            Il pulsante "Registrati", "Accedi con Facebook" e i widget sociali di Facebook sono servizi di interazione con il social network Facebook, forniti da Facebook, Inc. 
            Analisi degli accessi di Google Analytics e servizi terzi di Google Inc.
            Gli accessi e le interazioni dell'utenza su questo sito sono analizzati mediante il servizio di Google Analytics gestito da Google, Inc.
            Form
            L'Utente acconsente all'utilizzo dei dati inseriti nel form di registrazione e login, di informazione, o di qualunque altro motivo (indicato nel titolo del modulo).
            Ricordami
            Memorizza i dati di accesso sul device dell'Utente per consentirgli un accesso immediato all'area riservata sul sito Ubiobe.it.
            Il Sito utilizza anche un cookie tecnico di tipo analitico fornito da una terza parte (Google Analytics fornito dalla società Google Inc. ovvero da società del suo gruppo). Maggiori informazioni relative al funzionamento di Google Analytics e alle norme sulla privacy adottate da Google Inc. sono disponibili sul sito del fornitore al seguente link https://www.google.com/intl/it_it/policies/
            
            IMPOSTAZIONI RELATIVE AI COOKIE
            L'Utente può bloccare o cancellare i cookie tecnici, in tutto o in parte, attraverso le specifiche funzioni del proprio programma di navigazione (c.d. browser); tuttavia, nell'ipotesi in cui tutti o alcuni dei cookie vengano disabilitati è possibile che il Sito risulti non consultabile o che alcuni servizi o determinate funzioni del Sito non siano disponibili o non funzionino correttamente ovvero che l'utente sia costretto a modificare o a inserire manualmente alcune informazioni o preferenze tutte le volte in cui visiterà il Sito.
            Le modalità di disabilitazione dei cookie attraverso browser sono di seguito descritte per i principali programmi di navigazione: su tutti i browser è possibile impostare il livello di utilizzo dei cookie tramite l'apposita voce di menu ("Impostazioni > Privacy" su Chrome, "Opzioni Internet > Privacy" su Internet Explorer, "Opzioni > Privacy" su Mozilla, "Impostazioni > Impostazioni avanzate" su Edge).
            Maggiori informazioni e dettagli sui vari tipi di cookie, le loro modalità di funzionamento e caratteristiche sono comunque reperibili sul sito www.AllAboutCookies.org.
            DATI DI NAVIGAZIONE
            Ogni volta che l'Utente accede al Sito, indipendentemente dalla presenza di cookie, quest'ultimo registra in automatico il tipo di browser, il sistema operativo e l'URL sorgente del visitatore, così come le informazioni sulla pagina richiesta. Questi dati possono essere utilizzati in forma aggregata e anonima per effettuare analisi statistiche sull'utilizzo del Sito.
            DIRITTI DELL'UTENTE INTERESSATO
            Anche con riferimento ai dati dell'interessato trattati mediante cookie, i diritti ex art. 7 del Codice privacy possono essere esercitati in conformità a quanto previsto nell'informativa generale alla quale si rinvia a
            [http://www.garanteprivacy.it/web/guest/home/docweb/-/docweb- display/docweb/1311248]            
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="submit" class="btn btn-secondary">Crea</button> -->
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Okay</button>
      </div>
    </ng-template>
  <div class="auth-box" style="margin-top: 40px;max-width: 500px;">
    <div id="signupForm" [ngClass]="{'d-none': confirmEmailForm}">
      <div class="logo">
        <span class="db">
          <img src="assets/images/logo-icon.png" alt="logo" style="width: 60px;" />
        </span>
        <h5 class="font-medium m-b-20">Sign Up</h5>
      </div>
      <!-- Form -->
      <div class="row">
        <div class="col-12">
          <form action="index.html" class="form-horizontal m-t-20" (submit)="signup()" ngNativeValidate>
            <div class="form-group row" style="width: 98.5%; margin-left: 4px;">
              <div class="col-12 ">
                <label for="email">Email</label>
                <input class="form-control form-control-lg" placeholder="Email" required oninvalid="this.setCustomValidity('Email non può essere vuoto.')"
                  onchange="this.setCustomValidity('')" type="email" name="email" [(ngModel)]="signupData.email">
              </div>
            </div>
            <div class="form-group row" style="max-width: 50%;float:left;margin-left: 4px;">
              <div class="col-12 ">
                <label for="name">Nome</label>
                <input class="form-control form-control-lg" placeholder="Nome" required=" " oninvalid="this.setCustomValidity('Nome non può essere vuoto.')"
                  onchange="this.setCustomValidity('')" type="text" name="name" [(ngModel)]="signupData.name">
              </div>
            </div>
            <div class="form-group row" style="max-width: 50%;float:left;margin-left: 4px;">
              <div class="col-12 ">
                <label for="surname">Cognome</label>
                <input class="form-control form-control-lg" placeholder="Cognome" required=" " oninvalid="this.setCustomValidity('Cognome non può essere vuoto.')"
                  onchange="this.setCustomValidity('')" type="text" name="surname" [(ngModel)]="signupData.surname">
              </div>
            </div>
            <div class="form-group row" style="max-width: 50%;float:left;margin-left: 4px;">
              <div class="col-12 ">
                <label for="dateOfBirth">Data di nascita</label>
                <input class="form-control form-control-lg datepicker" style="height: 44px;" required=" " oninvalid="this.setCustomValidity('Data nascita non può essere vuoto')"
                  onchange="this.setCustomValidity('');" type="date" name="dateOfBirth" [ngModel]="signupData.dateOfBirth | date:'yyyy-MM-dd'"
                  (ngModelChange)="signupData.dateOfBirth = $event">
              </div>
            </div>
            <div class="form-group row" style="max-width: 50%;float:left;margin-left: 4px;width: 100%;">
              <div class="col-12 ">
                <label for="gender">Genere</label>
                <select style="
                            display: block;
                            width: 100%;
                            padding: .375rem .75rem;
                            font-size: .875rem;
                            line-height: 1.5;
                            color: #4f5467;
                            background-color: #fff;
                            background-clip: padding-box;
                            border: 1px solid #e9ecef;
                            border-radius: 2px;
                            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                            padding: .5rem 1rem;
                            font-size: 1.09375rem;
                            height: 45px;
                            " name="gender" [(ngModel)]="signupData.gender" required oninvalid="this.setCustomValidity('Genere non può essere vuoto')"
                  oninput="setCustomValidity('')">
                  <option value="" style="
                               padding: .5rem 1rem;
                               font-size: 1.09375rem;
                               ">-- Genere --</option>
                  <option value="Male">Maschile</option>
                  <option value="Female">Femminile</option>
                  <option value="Not Declared">Non Dichiarato</option>
                </select>
              </div>
            </div>
            <div class="form-group row" style="max-width: 50%;float:left;margin-left: 4px;">
              <div class="col-12 ">
                <label for="password">Password</label>
                <input class="form-control form-control-lg" placeholder="Password" type="password" name="password" [(ngModel)]="signupData.password"
                  required oninvalid="this.setCustomValidity('Password non può essere vuoto')" oninput="setCustomValidity('')">
              </div>
            </div>
            <div class="form-group row" style="max-width: 50%;float:left;margin-left: 4px;">
              <div class="col-12 ">
                <label for="confirmPassword">Conferma Password</label>
                <input class="form-control form-control-lg" placeholder="Conferma Password" type="password" name="confirmPassword" [(ngModel)]="signupData.confirmPassword"
                  required=" " oninvalid="this.setCustomValidity('Conferma password non può essere vuoto')" oninput="setCustomValidity('')">
              </div>
              <div class="col-12 " *ngIf="passwordNotMatched">
                <ngb-alert type="danger" [dismissible]="false" style="padding: 5px; margin-top: 5px;">Password non e correta</ngb-alert>
              </div>
            </div>
            <div class="form-group row" style="max-width: 50%;float:left;margin-left: 4px;">
              <div class="col-md-12 ">
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" id="customCheck1" type="checkbox" required="">
                  <label class="custom-control-label" for="customCheck1" style="width: 230px !important;">Accetto tutti i
                    <a href="javascript:void(0)" (click)="openTermsModal(terms)">Termini</a>
                    e la
                    <a href="javascript:void(0)" (click)="openPrivacyModal(privacy)">Privacy</a>
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group text-center">
              <div class="col-xs-12 p-b-20 ">
                <button class="btn btn-block btn-lg btn-info " type="submit">REGISTRATI</button>
              </div>
            </div>
            <div class="form-group m-b-0 m-t-10 ">
              <div class="col-sm-12 text-center "> Hai già un account?
                <a class="text-info m-l-5 " href="#/login2 ">
                  <b>Sign In</b>
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row" id="confirmEmailForm" [ngClass]="{'d-block': confirmEmailForm}">
      <div class="">
        <div class="card">
          <img class="card-img-top img-responsive" src="assets/images/big/img5.jpg" alt="Card image cap">
          <div class="card-body">
            <h3 class="font-normal">Un link di verifica è stato inviato al tuo account di posta elettronica. :)</h3>
            <p class="m-b-0 m-t-10">Fai clic sul link appena inviato al tuo account e-mail per verificare la tua e-mail e
              continuare la procedura di registrazione.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>