
<div class="top-bar-signup">
    <img src="/assets/images/background/logo-signup.png" (click)="home()" style="margin-left: 10%;width: 30%;">
    <button class="btn btn-siamo" (click)="chisiamo()">Chi siamo</button>
    <button class="btn btn-accedi" (click)="login()">Accedi</button>
</div>
<div style="background:white">
<h2 class="reponsive-paraph" style="font-size: 18px;width: 50%;text-align: -webkit-left;padding: 50px;margin-left: auto;margin-right: auto;">
        UbiObe è il primo social network dedicato all’obesità: una
        comunità aperta, amichevole e discreta, un gruppo di persone
        capace di ascoltare, comprendere e affrontare il fenomeno
        dell’obesità in tutti i suoi aspetti: clinico, psicologico, sociale e
        pratico.
        Utenti esperti che hanno superato queste problematiche
        raccontano la loro esperienza personale, il loro rapporto con il
        peso e il corpo, le vicende quotidiane che ne hanno segnato
        l’evoluzione. Specialisti sanitari offrono supporto a tutti coloro che
        vogliono capire meglio le implicazioni mediche dell’obesità, come
        affrontarla e - perché no? - vincerla.
        UbiObe tratta l’obesità in modo innovativo e senza pregiudizi,
        costruendo uno spazio orizzontale che favorisce il dialogo e dà una
        visione approfondita e concreta del tema.
        Iscriviti a UbiObe, racconta la tua storia, chiedi quello che non hai
        osato chiedere altrove, approfitta dei consigli pratici degli altri
        iscritti. Parliamo di obesità senza drammi, senza auto-indulgenza,
        con professionalità e rispetto di tutti, offrendo uno spazio di
        conforto e confronto, che mira al benessere di tutti gli utenti.
</h2>
</div>
<div style="min-height: 100px;height: 100px;background-color:#595959;display: inline-flex;width:100%">
    <h4 style=" color: white !important;font-weight: 100;font-size: 15px;padding: 40px;">© UbiObe è un progetto di
        Stimathy Srl 2018 | P.Iva 0429368016</h4>
    <div class="social" style="margin-left: 30%; padding: 35px;">
        <a href="mailto:info@ubiobe.it" target="_top"><i class="fa fa-envelope footer-icon"></i></a>
        <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/ubiobe/"><i class="fab fa-facebook-f footer-icon"></i></a>
        <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/company/sthimaty-srl//"><i class="fab fa-linkedin-in footer-icon"></i></a>
        <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/channel/UC4kT8lbBRSImyDgeB2RLRQg/videos"><i class="fab fa-youtube footer-icon"></i></a>
    </div>
</div>